.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
}
/**
  |============================
  | Header
  |============================
*/
.logo-first-part-header {
  margin-right: 76px;
  padding-top: 25.5px;
  padding-bottom: 25.5px;

  font-family: var(--font-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
}
.logo-second-part-header {
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-cl);
}
.header-container {
  display: flex;
  align-items: center;
  width: 428px;
  height: 70px;
}
.header-nav {
  display: inline-block;
}
.header-menu {
  display: none;
}
.header-menu-item {
  position: relative;

  align-items: center;
  justify-content: center;
}
.header-menu-link {
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-color);
}
.menu-link-active {
  color: var(--accent-color);
}
.menu-link-active::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn {
  display: block;
  border: none;
  margin-left: auto;
  align-items: center;
  background-color: transparent;
}
.is-open {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.modal-menu {
  position: fixed;
  min-width: 100%;
  min-height: 796px;
  top: 0;
  left: 0;
  padding-top: 80px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 40px;

  background-color: var(--white-cl);
}
.menu-btn-close {
  display: block;
  border: none;
  background-color: transparent;
}
.menu-btn-close {
  position: absolute;
  right: 24px;
  top: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-close:hover,
.menu-btn-close:focus {
  border: none;
  background-color: var(--accent-color);
}
.modal-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 284px;
}
.modal-menu-link {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--primary-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu-link-list {
  display: flex;
  flex-direction: column;

  gap: 40px;
  margin-bottom: 48px;
}
.modal-menu-link-tel {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu-link-mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--descriptions);
}
.modal-social-list {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.modal-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: var(--button-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);

  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-social-icons {
  color: currentColor;
  fill: var(--light-cl);
}
/* --------------------Address--------------------- */
address {
  font-style: normal;
}
.address-nav {
  margin-left: auto;
}
.address-list {
  display: none;
}
.address-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: normal;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);

  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  |============================
  | HERo
  |============================
*/
.hero-section {
  max-width: 428px;
  max-width: 432px;
  padding: 112px 0;
  margin: 0 auto;

  background-image: var(--main-gradient), url('../images/hero-bg.jpg');
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;

  background-color: var(--primary-cl);
  text-align: center;
}

.hero-title {
  align-items: center;
  max-width: 320px;
  margin: auto;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--white-cl);
}
.order-button {
  display: block;
  margin: auto;
  border: none;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background: var(--button-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: var(--accent-color);

  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | OUR GOALS
  |============================
*/
.section-goals {
  padding: 96px 0;
}
.goals-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.goals-item {
  margin-bottom: 72px;
  flex-basis: 100%;
}
.icons {
  display: none;
}
.goals-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--primary-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goals-description {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--descriptions);
}
/**
  |============================
  | OUR SERVICES
  |============================
*/
.services {
  display: none;
}
/**
  |============================
  | OUR TEAM
  |============================
*/
.team {
  background-color: var(--light-cl);
  padding: 96px 0;
}
.team-title {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-cl);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.team-item {
  box-shadow: var(--team-shadow);

  border-radius: 0px 0px 4px 4px;

  background-color: var(--white-cl);
}
.team-item:nth-child(4n) {
  margin-right: 0;
}
.employee {
  padding: 32px 16px;
}
.team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-cl);
}
.team-position {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--descriptions);
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: var(--button-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);

  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons {
  color: currentColor;
  fill: var(--light-cl);
}
/**
  |============================
  | Customers
  |============================
*/
.customers-section {
  padding: 96px 0;
  text-align: center;
}
.customers-title {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-cl);
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.customers-item {
  max-width: 190px;
  max-height: 88px;
  margin-bottom: 72px;
  flex-basis: calc((100% - 48px) / 3);
}
.customers-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 40px 16px 40px;

  max-width: 100%;
  max-height: 100%;

  color: var(--grey-cl);
  border-radius: 4px;
  border: 1px solid var(--grey-cl);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);

  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients {
  fill: currentColor;
}
.mobile {
  width: 110px;
  height: 56px;
}
